@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*{
    margin:0;
    padding:0;
}
html,body{
    height:100%;
}
.App{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}
.chart-header{
    height:80px;
    width:350px;
    border-radius:20px;
    background:hsl(10, 79%, 65%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.balance-container{
    padding: 15px;
    width:100px;
    color:whitesmoke
}
.logo{
    position:relative;
    right:25px;
}
.balance-container h5{
    font-weight: lighter;
    margin-bottom: 3px;
}